# Erlang build and runtime artifacts
/erlang/ebin/*
/erlang/event_logger.txt
/erlang/erl_crash.dump
/erlang/.DS_Store

#C build objects
/c_agent/c_build/*
/c_agent/c_agent

# LaTeX auxiliary files
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc